Electron
JetBrains
QtProject.conf
Vampire_Survivors
Vampire_Survivors_1021082054
Vampire_Survivors_Data
autostart
balenaEtcher
cat_installer
cinnamon
cinnamon-monitors.xml.bak
cinnamon-session
dconf
discord
dolphin-emu
dolphinrc
dots
dwl
dwm
emacs
enchant
evolution
exwm
flameshot
goa-1.0
gtk-3.0
heroic
htop
kde.org
menus
mimeapps.list
nemo
pavucontrol.ini
pulse
spotify
user-dirs.dirs
user-dirs.locale
x-cinnamon-xdg-terminals.list
xdg-terminals.list
zathura
