balenaEtcher
cat_installer
dconf
discord
dolphin-emu
dolphinrc
dwl
dwm
Electron
emacs
exwm
flameshot
gtk-3.0
heroic
htop
JetBrains
kde.org
menus
mimeapps.list
pulse
QtProject.conf
README.md
spotify
user-dirs.dirs
user-dirs.locale
Vampire_Survivors
Vampire_Survivors_1021082054
Vampire_Survivors_Data
zathura
obs-studio
supertuxkart
Thunar
github-copilot
gtk-2.0
mgba
xcfe4